@import '~antd/dist/antd.css';

.ant-layout {
  background-color: #282c34;
  min-height: 100vh;
  display: flex !important;
}

h1.fonts {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-weight: bold;
}
.ant-layout-content {
  display: flex !important;
}
h1 {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  color: white;
}

p {
  font-family: 'Courier New', Courier;
  color: white;
}

.notFoundContainer {
  display: flex !important ;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchPageContainer {
  display: flex !important ;
  flex: 1;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 15px;
}

.ant-card-body {
  background-color: #282c34;
}

.ant-card-bordered {
  border: 0px;
}

.ant-list {
  font-family: 'Courier New', Courier;
  width: 100%;
  /* background-color: wheat; */
  color: white;
}
